main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

svg {
    display: flex;
    align-items: center;
    font-size: 1.5em !important;
    margin-right: .2em;
}

.rating{
    display: flex;
    flex-direction: row;
}

.rating span{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .1rem;
}
.rating span svg {
    display: flex;
    align-items: center;
    margin-right: 0;

}

