main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

svg {
    display: flex;
    align-items: center;
    font-size: 1.5em !important;
    margin-right: .2em;
}

.rating{
    display: flex;
    flex-direction: row;
}

.rating span{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .1rem;
}
.rating span svg {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display:flex
}

.carousel img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.carousel-component {
    max-height: 550px;
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;

}

.carousel a {
    margin: 0 auto;
}

.hr-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 2em 0;
}

.hr-text div {
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: .15;
}

.hr-text p {
    margin: 0 .75em;
    opacity: .8;
}

.product-carousel {
    display: relative;
}

.product-carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: -1.8em;
    gap: .25em;
}

.product-carousel .carousel-indicators button {
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

